@charset "utf-8";

body { width: 100%; height: auto; background-color: #fff;}
main { overflow: hidden; width: 100%; height: auto}

/* 인트로 */
.intro {
  width: 100%;
  height: 100vh;
  font-weight: 600; 
  background-size: cover;
  background-position: 0 0;
  animation: introBg 30s infinite alternate linear;
  background-color: #ff7d99;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='57' height='28.5' viewBox='0 0 57 28.5'%3E%3Cdefs%3E%3Crect stroke='%23ff7d99' stroke-width='0.06' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%23ff7d99' stroke-width='0.06'%3E%3Crect fill='%23ff809b' width='1' height='1'/%3E%3Crect fill='%23ff7d99' width='1' height='1' x='1' y='1'/%3E%3Crect fill='%23ff829d' width='1' height='1' y='1'/%3E%3Crect fill='%23ff859f' width='1' height='1' x='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ff87a1'%3E%3Cuse xlink:href='%23s' x='2' y='0'/%3E%3Cuse xlink:href='%23s' x='4' y='1'/%3E%3Cuse xlink:href='%23s' x='1' y='2'/%3E%3Cuse xlink:href='%23s' x='2' y='4'/%3E%3Cuse xlink:href='%23s' x='4' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='8'/%3E%3Cuse xlink:href='%23s' x='3' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ff8aa3'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='3' y='4'/%3E%3Cuse xlink:href='%23s' x='5' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ff7d99'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='6' y='3'/%3E%3Cuse xlink:href='%23s' x='8' y='2'/%3E%3Cuse xlink:href='%23s' x='3' y='0'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3Cg fill='%23ff8da5'%3E%3Cuse xlink:href='%23s' x='8' y='3'/%3E%3Cuse xlink:href='%23s' x='4' y='2'/%3E%3Cuse xlink:href='%23s' x='5' y='4'/%3E%3Cuse xlink:href='%23s' x='10' y='0'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ff6885'%3E%3Cuse xlink:href='%23s' x='2' y='5'/%3E%3Cuse xlink:href='%23s' x='23' y='13'/%3E%3Cuse xlink:href='%23s' x='4' y='18'/%3E%3Cuse xlink:href='%23s' x='35' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ff6885'%3E%3Cuse xlink:href='%23s' x='16' y='0'/%3E%3Cuse xlink:href='%23s' x='13' y='22'/%3E%3Cuse xlink:href='%23s' x='44' y='15'/%3E%3Cuse xlink:href='%23s' x='12' y='11'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='57' height='28.5'/%3E%3Crect fill='url(%23b)' width='57' height='28.5'/%3E%3Crect fill='url(%23c)' width='57' height='28.5'/%3E%3Crect fill='url(%23d)' width='57' height='28.5'/%3E%3Crect fill='url(%23e)' width='57' height='28.5'/%3E%3Crect fill='url(%23f)' width='57' height='28.5'/%3E%3C/svg%3E");
  background-attachment: fixed;
}

@keyframes introBg {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 500px 500px;
  }
}

.intro .logo { 
	position: absolute; 
	bottom: 80px; 
	right: 120px; 
	width: 120px; 
}
.intro .logo > img { width: 100%; height: auto;}
.intro .box_title {
 	position: absolute;
 	left: 50%;
 	top: 50%;
 	transform: translate(-50%, -50%);
	padding: 40px;
	width: 515px;
	box-sizing: border-box;
 	border: 2px solid #000;
 	background: #fff;
 	box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}
.intro .box_title p:nth-child(1) {
  	font-size: 64px;
  	font-weight: 900;
}
.intro .box_title p:nth-child(2) {
	padding-top: 20px;
	font-size: 42px;
	font-weight: 600;
    text-align: right;
    color: #8e8e8e;
}
.intro .box_title p > span { color: #ff6885;}
.intro .btn_wrap { padding-top: 40px;}
	.btn_detailView {
		display: block;
		padding: 10px 0;
		width: 100%;
		color: #000;
		font-weight: 600;
		font-size: 16px;
		text-align: center;
		background-color: #fff;
		border: 2px solid black;
		box-shadow: 0 0 0 black;
		transition: all 0.2s;
	}
	.btn_detailView:hover {
		box-shadow: 0.2rem 0.2rem 0 black;
		transform: translate(-0.2rem, -0.2rem);
	}

/* 리드 */
.lead { 
	position: relative;
  	width: 100%; 
  	height: 100vh;
  	background: url(../img/bg_lead.png) no-repeat center center;
	background-size: cover;
}
.lead p { 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  	padding: 40px;
	width: 680px; 
 	line-height: 160%; 
 	color: #000;
	box-sizing: border-box;
	border: 2px solid  #000;
  	box-shadow:0 6px 6px -6px #000;
  	background-color: #fff;
}
.lead p > span { 
	font-size: 16px;
	font-weight: 400;
 	color: #ff6885;
}

/* 섹션 */
.section-wrap { width: 100%;  height: auto; background: linear-gradient(#F9F9F9, #ffccd6, #f9f9f9);}
section { padding: 100px 0; width: 100%; height: auto;}

.content { 
	overflow: hidden;
	margin: 0 auto; 
	padding: 40px;
	width: 680px;
	box-sizing: border-box;
	border: 2px solid  #000;
	box-shadow:0 6px 6px -6px #000;
	background-color: #fff;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(0, 20%);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.content.contUp{ 
    animation-name: fadeInUp; 
    animation-duration: 0.6s;
    animation-fill-mode: forwards; 
}

.content h2 {
	position: absolute;
	left: -10px;
    top: -2px;
	padding: 10px 24px 10px 30px;
	font-size: 28px;
	font-weight: 600;
	background-color: #fff;
    border: solid 2px #000;
    transform: skew(-15deg);
}
.text { text-align: left; line-height: 160%;}

.tableau { display: block; margin: 40px auto; width: 100%; height: auto;}
.tableau > img { width: 100%; height: auto;}


/* 섹션 03 */
#section-03 .interviewer {
	padding: 50px 0 10px 0;
	display: flex;
	width: 100%;
}
#section-03 .interviewer li {
	display: inline-block;
	width: 25%;
	height: auto;
}
#section-03 .interviewer li a {
	display: inline-block;
	width: 100%;
	height: 100%;
}
#section-03 .interviewer li p {
	padding: 10px;
    text-align: center;
	font-weight: 600;
	color: #000;
}
#section-03 .interviewer li img { width: 100%; height: auto;}

#section-03 .bubble {
	padding: 40px;
	width: 100%;
	background-color: #efefef;
	border-radius: 20px;
	box-sizing: border-box;
}
#section-03 .bubbleAfter {
    display: block;
    width: 0px;
    height: 0px;
    border-bottom: 30px solid #efefef;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
    transform: translate(60px, 4px);
}
#section-03 .bubble li { 
	text-align: center;
	line-height: 160%;
    font-weight: 400;
    color: #525252;
}
#section-03 .bubble li:not(:first-child){ display: none;}


/* 섹션 06 */
#section-06 .interviewer { 
	margin-top: 50px;
    padding-top: 50px;
    width: 100%;
    border-top: 1px solid #dcdcdc;
}
#section-06 .interviewer li { 
	display: flex;
	justify-content: space-between;
	width: 100%; 
	height: auto; 
	margin-bottom: 40px;
}

#section-06 .interviewer .profile { width: 20%; text-align: center;}
#section-06 .interviewer .profile img { width: 100%; height: auto;}
#section-06 .interviewer .profile p { 
	padding: 10px; 
	text-align: center;
	font-weight: 600;
	color: #000;
	line-height: 160%;
}
#section-06 .bubble { 
	position: relative;
	padding: 0 30px;
	width: 76%;
	background-color: #efefef;
	border-radius: 20px;
	box-sizing: border-box;
}
#section-06 .bubble p { 
	text-align: center;
    line-height: 150%;
    font-weight: 400;
    color: #525252;
}

#section-06 .bubble::before {
	position: absolute;
	content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-bottom: 30px solid #efefef;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
    top: 80px;
    left: -20px;
    transform: rotate(-90deg);
}

/* 아웃트로 */
.outro { 
	position: relative;
  	width: 100%; 
  	height: 100vh;
  	background: url(../img/bg_outro.png) no-repeat center center;
	background-size: cover;
}
.outro-wrap { 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 680px; 
	padding: 40px;
	box-sizing: border-box;
 	background: #fff;
 	border: 2px solid #000;
    box-shadow: 0 6px 6px -6px #000;
}
.outro-wrap > h2 {
	padding-bottom: 14px;
	font-size: 24px;
	font-weight: 600;
	font-style: italic;
	text-align: right;
	border-bottom: 1px solid #000;
}
.outro-wrap > p { 
	padding-top: 40px;
	font-size: 16px;
  	line-height: 180%;
}
.outro-wrap .btn-wrap {
    padding-top: 40px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.outro .btn-wrap > a {
    padding: 8px 0 10px 0; 
	width: 48%;
	color: #000;
    font-weight: 600;
    text-align: center;
	background-color: #fff;
	border: 2px solid black;
	box-shadow: 0 0 0 black;
	transition: all 0.2s;
}
.outro .btn-wrap > a:hover { 
    box-shadow: 0.2rem 0.2rem 0 black;
	transform: translate(-0.2rem, -0.2rem);
}
.outro-wrap .rel-wrap { 
    margin: 20px auto 0 auto; 
    padding: 30px;
    width: 100%;
    text-align: left;
    background-color: #efefef;
    box-sizing: border-box;
}

.outro-wrap .rel-wrap > p { 
    padding-bottom : 18px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid rgba(86, 86, 86, 0.5);
}
.outro-wrap .rel-wrap > ul { padding-top : 10px;}
.outro-wrap .rel-wrap > ul li { padding-top : 10px;}

.outro-wrap .rel-wrap > ul li a { color: #333;}
.outro-wrap .rel-wrap > ul li a:hover { color: #929292;}

